body, html{
  margin: 0;
  background-color: pink;
}
.desktop-logo{
  display: inline;
}
.mobiletablet-logo{
  display: none;
}

header{
  position: relative;
  z-index: 10;
display: flex;
flex-direction: column;
width: 100%;
box-sizing: border-box;
}

.top-bar{
display: flex;
justify-content: flex-end;
align-items: center;
padding: 10px 20px;
background-color: pink;
width: 100%;
gap: 20px;
box-sizing: border-box;
}

.search-container{
display: flex;
align-items: center;
gap: 10px;
}

#search-bar{
width: 200px;
max-width: 200px;
padding: 10px;
font-size: 16px;
border: 1px solid black;
border-radius: 10px;
overflow-x: hidden;
box-sizing: border-box;
}

.highlight {
  background-color: yellow;
  font-weight: bold;
  padding: 0 2px;
}

#message {
  display: none;
  color: red;
  background-color: white; opacity: 60%;
  font-family: sans-serif;
  border: 2px solid #89CFF0;
  border-radius: 10px;
  padding: 5px;
  font-size: 16px;
}

#message.show {
  display: block;
}

button{
padding: 10px 15px;
font-family: sans-serif;
font-size: 16px;
cursor: pointer;
border: 1px solid black;
border-radius: 10px;
background-color: #89CFF0;
}

button:hover{
background-color: white;
}

.main-header{
  
display: flex;
align-items: center;
justify-content: center;
gap: 50px;
width: 100%;
max-width: 100%;
margin-left: -50px;
margin-right: -50px;
margin-top: -50px;
margin-bottom: 50px;

}

nav{
display: flex;
gap: 50px;
justify-content: center;
}

nav a{
text-decoration: none;
font-family: sans-serif;
font-size: 2em;
color: white;
}

nav a:hover{
color: #89CFF0;
}

.newsletter-container{
text-align: center;
padding: 20px;
background-color: pink;
border-radius: 8px;
width: 50%;
max-width: 400px;
margin: auto;
}

.newsletter-toggle {
  font-size: 16px;
  font-family: sans-serif;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 10px;
  border: 1px solid black;
  background-color: #89CFF0;
  transition: 0.3s ease;
}

.newsletter-toggle:hover{
background-color: #64a9d1;
}

.newsletter-dropdown{
display: none;
margin-top: 10px;
text-align: center;
transition: max-height 0.3s ease-out;
max-height: 0;
overflow: hidden;
}

.newsletter-dropdown form{
display: flex;
flex-direction: column;
gap: 10px;
align-items: center;
margin-top: 10px;
}

.newsletter-dropdown input{
padding: 10px;
font-size: 16px;
border-radius: 10px;
margin-bottom: 8px; 
background-color: #f9f9f9;
border: 1px solid black;
width: 200px;
font-size: 16px;
border: 1px solid black;
border-radius: 10px;
}

#booking-form {
  position: relative;
  font-family: sans-serif;
  background: white;
  z-index: 10;
  color: black;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 100%;
  text-align: center;
  padding: 20px;
  margin: auto;

}
#booking-form h2 {
  text-align: center;
  margin-bottom: 10px;
}
.form-group {
  margin-bottom: 15px;
}
.form-group label {
  display: block;
  font-weight: bold;
}
.form-group input,
.form-group select,
.form-group textarea {
  width: 75%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn {
  font-family: sans-serif;
  font-weight: 800;
  display: block;
  width: 100%;
  background-color: #89CFF0;
  color: black;
  padding: 10px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  
}
.btn:hover {
  background-color: #218838;
}

footer{
background-color: pink;
font-family: sans-serif;
text-align: center;
margin-bottom: 20px;
padding-top: 20px;
}

main span{
  position: absolute;
  bottom: 50px;
  border-radius: 50%;
  pointer-events: none;
  box-shadow: inset 0 0 10px rgb(137, 207, 240, 1.0);
  opacity: 0.1;
  animation: animate 4.75s linear infinite;
}

main span::before{
  content: '';
  position: absolute;
  width: 100%;
  height:100%;
  transform: scale(0.25) translate(-50%, -50%);
  background: radial-gradient(#fff, transparent);
  border-radius: 50%;
}

@keyframes animate{
  0%{
    transform: translateY(500%);
    opacity:1;
  }
  
  90%{
    opacity: 1;
  }
  100%
  {
    transform: translateY(-1700%);
    opacity: 1;
  }
  }

aside{
  display: none;
}
#container{ 
display: grid;
grid-template-columns: auto;
grid-template-rows: auto;
}
header{
grid-row: 1 / 2; grid-column: 1 / 4;
}
nav{
grid-row: 3 / 4; grid-column: 1 / 4
}
main{
grid-row: 4 / 5; grid-column: 1 / 4;
min-height: 100vh;
}
aside{
grid-row: 5 / 6; grid-column: 3/ 4;
}
footer{
grid-row: 6 / 7; grid-column: 1 / 4;
}










