*{
  margin: 0;
}

.desktop-logo{
  display: inline;
}
.mobiletablet-logo{
  display: none;
}

header{
  text-align: center;
  position: relative;
  padding: 20px;
}

nav{
background-color: pink;
font-family: sans-serif;
position: sticky;
z-index: 1000;
top: 0;
height: fit-content;
display: flex;
flex-direction: row;
justify-content: center;
margin-bottom: 20px;
}
nav ul{
list-style-type: none;          
margin: 0; 
padding: 0;              
gap: 50px;
position: sticky;
}
nav a{
text-decoration: none;
}
nav a:link{
font-size: 200%;
padding-left: 0.5em;
padding-right: 0.5em;
}

body{
background-color: pink;
}

footer{
background-color: pink;
font-family: sans-serif;
text-align: center;
margin-top: 20px;
margin-bottom: 20px;
}

#wrapper{ 
display: grid;
grid-template-columns: auto;
grid-template-rows: auto;
}
header {
grid-row: 1 / 2; grid-column: 1 / 4;
}
nav{
grid-row: 3 / 4; grid-column: 1 / 4
}
main{
grid-row: 5 / 6; grid-column: 1 / 4;
}
aside{
grid-row: 5 / 6; grid-column: 3/ 4;
}
footer{
grid-row: 6 / 7; grid-column: 1 / 4;
}
