body, html {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding-top: 50px;
}

.main-header {
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  z-index: 100;
}

.desktop-logo {
  display: inline;
}

.mobiletablet-logo {
  display: none;
}


form {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px black;
  width: 100%;
  width: 400px;
  margin-top: 200px;
  margin-bottom: 50px;
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
  text-align: center;
}

.btn-primary {
  margin: 20px auto;
  display: block;
  width: 100%;
}

@media (max-width: 600px) {
  body, html {
    height: auto;
    padding: 20px;
  }

  #container {
    width: 90%;
    text-align: center;
  }

  .desktop-logo {
    display: none;
  }

  .mobiletablet-logo {
    display: block;
  }

  form {
    width: 100%;
  }

  .btn-primary {
    width: 100%;
  }
}

@media (min-width: 600px) and (max-width: 1024px) {
  .desktop-logo {
    display: none;
  }

  .mobiletablet-logo {
    display: block;
  }
}

