<!DOCTYPE html>
<html lang="en">
  <head>
    <title>NEBULA - Junior coding community!</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Community for junior coders, chat forum, resources">
    <meta name="keywords" content="coding, programming, software, development">
    <meta name="author" content="NEBULA">
    <link href="../static/css/createaccount.css" rel="stylesheet" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
  </head>
  <body>
  <div id="container">
  <header>
  <div class="main-header">
  <img src="../static/images/desktop-logo.png" width="500" height="250" alt="Company Logo" class="desktop-logo">
  <img src="../static/images/mobiletablet-logo.png" width="375" height="188" alt="Company Logo" class="mobiletablet-logo">
  </div>
  </header>
  <main>
    <h1>Create Your Account</h1>
    <form id="createAccount" method="POST">
      <div class="form-group">
        <label for="fullname" class="form-label">Full Name</label>
        <i class="bi bi-person"></i><input type="text" class="form-control" id="fullname" placeholder="Your full name" required>
    </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <i class="bi bi-envelope"></i> <input type="email" class="form-control" id="inputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <i class="bi bi-lock"></i><input type="password" class="form-control" id="inputPassword1" placeholder="Password">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Confirm Password</label>
        <i class="bi bi-lock"></i><input type="password" class="form-control" id="inputPassword2" placeholder="Password">
      </div>
      <button type="submit" class="btn btn-primary">Create My Account</button>
    </form>
    <button type="button" onclick="location.href='/templates/index.html'" class="btn btn-primary">
        Return to Login page
    </button>
</main>
<footer>
NEBULA &copy; Kiera Reidy 2025<br>
</footer>
<script src="../static/javascript/createaccount.js"></script>
</div>
</body>
</html>